<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Akshar.Lib.Properties.Settings.NWCoreConnectionString"
            connectionString="Data Source=varun\sqlserver2008;Initial Catalog=NWCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Akshar.Lib.Properties.Settings.AkshCoreConnectionString"
            connectionString="Data Source=varun;Initial Catalog=AkshCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>